# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
*.env
dataset/


# VSCode / PyCharm settings
.vscode/
.idea/

# Python backup files
*.bak
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Model files
*.h5
*.hdf5
*.keras

# Logs
*.log

# Streamlit cache
.streamlit/

# Python environment files
pip-log.txt
pip-delete-this-directory.txt

# Gitignore itself
.gitignore
